<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>21281249877-vbq9ssgm7fu5kr6ob29im21r6h5rvkr2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21281249877-vbq9ssgm7fu5kr6ob29im21r6h5rvkr2</string>
	<key>API_KEY</key>
	<string>AIzaSyBm14BrYJBGt3Hi6J7PKKwxo0n1e6G_oSY</string>
	<key>GCM_SENDER_ID</key>
	<string>21281249877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vinaykumar.sokoban</string>
	<key>PROJECT_ID</key>
	<string>sokoban-d3bea</string>
	<key>STORAGE_BUCKET</key>
	<string>sokoban-d3bea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21281249877:ios:d4f9c9c2c8fff151d192dc</string>
	<key>DATABASE_URL</key>
	<string>https://sokoban-d3bea.firebaseio.com</string>
</dict>
</plist>