<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./bg</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{640,960}</string>
    <key>spriteSourceSize</key>
    <string>{640,960}</string>
    <key>textureRect</key>
    <string>{{0,0},{640,960}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./button_blue</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{200,106}</string>
    <key>spriteSourceSize</key>
    <string>{200,106}</string>
    <key>textureRect</key>
    <string>{{642,704},{200,106}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./button_settings</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{80,86}</string>
    <key>spriteSourceSize</key>
    <string>{80,86}</string>
    <key>textureRect</key>
    <string>{{642,812},{80,86}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cutout</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{500,500}</string>
    <key>spriteSourceSize</key>
    <string>{500,500}</string>
    <key>textureRect</key>
    <string>{{642,0},{500,500}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cutout_small</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{200,200}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{642,502},{200,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./cutout_tiny</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{120,120}</string>
    <key>spriteSourceSize</key>
    <string>{120,120}</string>
    <key>textureRect</key>
    <string>{{844,563},{120,120}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./logo</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{280,59}</string>
    <key>spriteSourceSize</key>
    <string>{280,59}</string>
    <key>textureRect</key>
    <string>{{844,502},{280,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./star</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{62,59}</string>
    <key>spriteSourceSize</key>
    <string>{62,59}</string>
    <key>textureRect</key>
    <string>{{844,685},{62,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1144,962}</string>
   <key>textureFileName</key>
   <string>MainMenu.png</string>
  </dict>
 </dict>
</plist>
