<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./button_home</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{100,107}</string>
    <key>spriteSourceSize</key>
    <string>{100,107}</string>
    <key>textureRect</key>
    <string>{{102,109},{100,107}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./button_music_off</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{100,101}</string>
    <key>spriteSourceSize</key>
    <string>{100,101}</string>
    <key>textureRect</key>
    <string>{{204,103},{100,101}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./button_music_on</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{100,107}</string>
    <key>spriteSourceSize</key>
    <string>{100,107}</string>
    <key>textureRect</key>
    <string>{{102,0},{100,107}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./button_play</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{100,107}</string>
    <key>spriteSourceSize</key>
    <string>{100,107}</string>
    <key>textureRect</key>
    <string>{{0,109},{100,107}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./button_sound_off</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{100,101}</string>
    <key>spriteSourceSize</key>
    <string>{100,101}</string>
    <key>textureRect</key>
    <string>{{204,0},{100,101}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./button_sound_on</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{100,107}</string>
    <key>spriteSourceSize</key>
    <string>{100,107}</string>
    <key>textureRect</key>
    <string>{{0,0},{100,107}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{306,218}</string>
   <key>textureFileName</key>
   <string>Settings.png</string>
  </dict>
 </dict>
</plist>
